.container {
  &__main {
    display: grid;
    grid-template-columns: 25% 75%;
  }

  &__cards {
    width: 70%;
    position: relative;
    top: 5rem;
    left: 5rem;
  }
  &__categories {
    position: relative;
    background-color: $color-platinum;
    color: $color-white;
    border-radius: 10px;

    height: 80vh;
    box-shadow: 0 1rem 2rem rgba($color: $color-black, $alpha: 0.5);

    ul {
      list-style: none;
      text-transform: uppercase;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      li {
        margin-bottom: 4rem;
      }
      li > a {
        font-size: 1.4rem;
        text-decoration: none;
      }
    }
  }
}
